# TODO:
#  ngcpprofile=...  - download additional configuration profile (WIP)

default grml
label grml
  menu DEFAULT
  menu label Rescue system boot (%VERSION%, %ARCH%)
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce noquick ssh=grml 
  text help
                                        Automatic deployment system for the
                                        Sipwise Next Generation Communication
                                        Platform.         http://sipwise.com/

                                        Based on http://grml.org/
  endtext

label ce
  menu label Install sip:providerCE  - DHCP
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce ngcpce ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh ngcphostname=spce 

  text help
                                        Install sip:provider
                                        community edition.
                                        Retrieve network configuration
                                        via DHCP.
  endtext

label cenw
  menu label Install sip:providerCE  - static NW config
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce ngcpce ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh ngcphostname=spce ip=192.168.51.123::192.168.51.1:255.255.255.0:spce:eth0:off dns=192.168.51.2 

  text help
                                        Install sip:provider
                                        community edition.
                                        Use static IP configuration, adjust
                                        in boot command line if necessary.
  endtext


label prosp1nw
  menu label Install sip:providerPRO - sp1
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce ngcppro ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh ngcpsp1 ip=192.168.1.101::192.168.1.1:255.255.255.0:sp1:eth0:off dns=195.58.160.194 

  text help
                                        Install sip:provider
                                        professional edition.
                                        Install first node of HA setup.
                                        Use static IP configuration, adjust
                                        in boot command line if necessary.
  endtext


label prosp2nw
  menu label Install sip:providerPRO - sp2
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce ngcppro ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh ngcpsp2 ip=192.168.1.102::192.168.1.1:255.255.255.0:sp2:eth0:off dns=195.58.160.194 

  text help
                                        Install sip:provider
                                        professional edition.
                                        Install second node of HA setup.
                                        Use static IP configuration, adjust
                                        in boot command line if necessary.
  endtext

label squeeze
  menu label Install Debian/squeeze 64bit / DHCP
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce nongcp ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh 

  text help
                                        Install Debian squeeze, 64bit.
                                        Does NOT install sip:provider
                                        platform.
                                        Retrieve network configuration
                                        via DHCP.
  endtext


label squeezenw
  menu label Install Debian/squeeze 64bit / static NW
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce nongcp ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh ip=192.168.51.123::192.168.51.1:255.255.255.0:debian:eth0:off dns=192.168.51.2 

  text help
                                        Install Debian squeeze, 64bit.
                                        Does NOT install sip:provider
                                        platform.
                                        Use static IP configuration, adjust
                                        in boot command line if necessary.
  endtext

label fw
  menu label Automatic Firmware upgrades / DHCP
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce noinstall nongcp nodebian ngcpfirmware ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh 

  text help
                                        Install recent firmware images
                                        for IBM hardware.
                                        Retrieve network configuration
                                        via DHCP.
  endtext

label fwnw
  menu label Automatic Firmware upgrades / static NW
  kernel /boot/%SHORT_NAME%/linux26
  append initrd=/boot/%SHORT_NAME%/initrd.gz boot=live bootid=%BOOTID% apm=power-off vga=791 quiet nomce noinstall nongcp nodebian ngcpfirmware ssh=grml netscript=http://deb.sipwise.com/kantan/deployment.sh ip=192.168.51.123::192.168.51.1:255.255.255.0:firmware:eth0:off dns=192.168.51.2 

  text help
                                        Install recent firmware images
                                        for IBM hardware.
                                        Use static IP configuration, adjust
                                        in boot command line if necessary.
  endtext

label ipxe
  menu label Boot from network (iP^XE)
  kernel /boot/addons/ipxe.lkrn

  text help
                                        Start Etherboot/iPXE for booting via
                                        network (PXE).
  endtext

label hd1
  menu label ^Boot from primary local boot device
  localboot 0x80
  text help
                                        Boot from 1st local boot device -
                                        if present and bootable.
  endtext

label hd2
  menu label ^Boot from secondary local boot device
  localboot 0x81
  text help
                                        Boot from 2nd local hard disk -
                                        if present and bootable.
  endtext

# EOF
